{% extends 'master.html' %}
{% block body %}
    <!-- inner-banner -->
    <section class="inner-banner" id="home">
       <div class="inner-layer">
          <div class="container">
          </div>
       </div>
    </section>
    <!-- //inner-banner -->
    <!-- breadcrumb -->
    <div class="breadcrumb-w3pvt">
       <div class="container">
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item">
                   <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Log In</li>
                <li class="breadcrumb-item" href="/user_account/" aria-current="page">Hi, {{ data.name }}</li>
                <li class="breadcrumb-item" aria-current="page">Loan Preview</li>
             </ol>
          </nav>
       </div>
    </div>
    <div class="container mt-5">
       <h1 class="mb-4">Loan Preview</h1>
       <table class="table table-bordered">
          <thead>
             <tr>
                <th>Name</th>
                <th>Loan Amount</th>
                <th>Released Date</th>
                <th>Purpose</th>
                <th>Period</th>
                <th>Intrest</th>
                <th>Closed Date</th>
                <th>Return Amount</th>
                <th>Reference Code</th>
             </tr>
          </thead>
          <tbody>
             <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.loan_amount }}</td>
                <td>{{ data.release_date }}</td>
                <td>{{ data.purpose }}</td>
                <td>{{ data.peroid }}</td>
                <td>{{ data.intrest_rate }}</td>
                <td>{{ data.close_date }}</td>
                <td>{{ data.returning_amount }}</td>
                <td>{{ data.refrence_code }}</td>
             </tr>
          </tbody>
       </table>
       <!-- Add your payment form or integration here -->
       <form id="paymentForm" action="/loan_form/" method="post">
          {% csrf_token %}
           <input type="hidden" name="loan_amt" value="{{ data.loan_amount }}">
          <input type="hidden" name="purpose" value="{{ data.purpose }}">
          <input type="hidden" name="loan_period" value="{{ data.peroid }}">
          <input type="hidden" name="reference_no" value="{{ data.refrence_code }}">
          <br>
          <button type="submit" class="btn btn-primary">Apply</button>
          <br>
           <br>
       </form>
    </div>
{% endblock %}
