<!--
   author: W3layouts
   author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>
      {% load static %}
      <!-- Script File JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <!-- css File link -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <!-- Static File JS -->
      <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
      <script src="{% static 'js/print.js' %}"></script>
      <script src="{% static 'js/message-interactions.js' %}"></script>
      <script src="{% static 'js/profit-chart.js' %}"></script>
      <script src="{% static 'js/payment_validation.js' %}"></script>
      <script src="{% static 'js/loan_data_delete.js' %}"></script>
      <script src="{% static 'js/profile.js' %}"></script>
      <title>Mini Bank</title>
      <!-- css files -->
      <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
      <!-- bootstrap css -->
      <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
      <!-- custom css -->
      <link href="/static/css/font-awesome.min.css" rel="stylesheet">
      <!-- fontawesome css -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <!-- //css files -->
      <!-- google fonts -->
      <link href="//fonts.googleapis.com/css?family=Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
      <!-- //google fonts -->
      <!-- for-mobile-apps -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Bank Card Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
             setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
             window.scrollTo(0, 1);
         }
      </script>
   </head>
   <body>
      <!-- header -->
      <header>
         <div class="container">
            <!-- nav -->
            <nav class="py-3 d-lg-flex">
               <div id="logo">
                  <h1> <a href="{% url 'index' %}"><span class="fa fa-university"></span> Bank Card </a></h1>
               </div>
               <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
               <input type="checkbox" id="drop" />
               <ul class="menu ml-auto mt-1">
                  <li class=""><a href="{% url 'index' %}">Home</a></li>
                  <li class=""><a href="about.html">About</a></li>
                  <li class=""><a href="/service/">Services</a></li>
                  <li class=""><a href="/post_list/">News</a></li>
                  <li class=""><a href="/contact_us">Contact</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'user_account' %}"><i class=""></i>Account</a></li>
                  <li class="last-grid">
                     <a href="{% url 'logout' %}">
                        Log Out<!-- //breadcrumb -->
                     </a>
                  </li>
                  {% else %}
                  <li class="last-grid">
                     <a href="/login">
                        LOG IN<!-- //breadcrumb -->
                     </a>
                  </li>
                  {% endif %}
               </ul>
            </nav>
            <!-- //nav -->
         </div>
      </header>
      <!-- //header -->
      {% block body %}
      {% endblock %}
      <!-- footer -->
      <footer class="footer py-5">
         <div class="container pt-lg-4">
            <div class="row">
               <div class="col-lg-3 col-sm-6 footer-top">
                  <h4 class="mb-4 w3f_title">Contact Info</h4>
                  <ul class="list-w3">
                     <li><span class="fa mr-1 fa-map-marker"></span>2130 Fulton Street, San Diego, CA 94117-1080 USA</li>
                     <li class="my-2"><span class="fa mr-1 fa-phone"></span>1-600-1234-567</li>
                     <li class="my-2"><span class="fa mr-1 fa-phone"></span>1-600-1234-567</li>
                     <li class=""><span class="fa mr-1 fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-6 footv3-left mt-sm-0 mt-4">
                  <h4 class="mb-4 w3f_title"> Share Holders</h4>
                  <ul class="list-w3">
                     <li class="my-2">
                        <a href="#">
                        Shareholders Information
                        </a>
                     </li>
                     <li class="mb-2">
                        <a href="#">
                        Stock Information
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Financial Results
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Investors faq's
                        </a>
                     </li>
                     <li>
                        <a href="#">
                        Regulatory Section
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="mb-4 w3f_title">Media Center</h4>
                  <ul class="list-w3">
                     <li class="my-2">
                        <a href="#">
                        Press Release
                        </a>
                     </li>
                     <li class="mb-2">
                        <a href="#">
                        Vision & Values
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Winning Awards
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Banking
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="mb-4 w3f_title">Resources</h4>
                  <ul class="list-w3">
                     <li class="my-2">
                        <a href="#">
                        24/7 Help Line
                        </a>
                     </li>
                     <li class="mb-2">
                        <a href="#">
                        Nearest Branch
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Guidance
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Download
                        </a>
                     </li>
                     <li>
                        <a href="#">
                        Mobile App
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="mb-4 w3f_title">Other Links</h4>
                  <ul class="list-w3">
                     <li class="my-2">
                        <a href="#">
                        Careers
                        </a>
                     </li>
                     <li class="mb-2">
                        <a href="#">
                        All faq's
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Bank Group
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Credit Cards
                        </a>
                     </li>
                     <li class="my-2">
                        <a href="#">
                        Loans
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- //footer bottom -->
      </footer>
      <!-- //footer -->
      <!-- middle -->
      <section class="middle py-4">
         <div class="container">
            <p><strong class="mr-2">Our Offerings & Calculators:</strong> Personal loans, Home and car loans, loan calculators, Savings accounts, Credit cards, Insurance.</p>
            <p><strong class="mr-2">Bank Smart:</strong> Internet Banking, Online Banking, Cardless transactions, Fixed deposits, Pin generation, Card active status.</p>
         </div>
      </section>
      <!-- //middle -->
      <!-- copyright -->
      <section class="copy-right py-4">
         <div class="container">
            <div class="row">
               <div class="col-lg-7">
                  <p class="">© 2019 Bank Card. All rights reserved | Design by
                     <a href="http://w3layouts.com"> W3layouts.</a>
                  </p>
               </div>
               <div class="col-lg-5 mt-lg-0 mt-3">
                  <ul class="list-w3 d-sm-flex">
                     <li>
                        <a href="#">
                        Privicy Policy
                        </a>
                     </li>
                     <li class="mx-sm-4 mx-3">
                        <a href="#">
                        Terms & Conditions
                        </a>
                     </li>
                     <li>
                        <a href="#">
                        Disclaimer.
                        </a>
                     </li>
                     <li>
                        <a href="#">
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <!-- //copyright -->
      <!-- move top -->
      <div class="move-top text-right">
         <a href="#home" class="move-top">
         <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
         </a>
      </div>
      <!-- move top -->
   </body>
</html>