{% extends 'master.html' %}
{% block body %}
    <!-- inner-banner -->
    <section class="inner-banner" id="home">
       <div class="inner-layer">
          <div class="container">
          </div>
       </div>
    </section>
    <!-- //inner-banner -->
    <!-- breadcrumb -->
    <div class="breadcrumb-w3pvt">
       <div class="container">
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item">
                   <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Log In</li>
                <li class="breadcrumb-item" href="/user_account/" aria-current="page">Hi, {{ name }}</li>
                <li class="breadcrumb-item" aria-current="page">Payment Details</li>
             </ol>
          </nav>
       </div>
    </div>
    <div class="container mt-5">
       <h1 class="mb-4">Payment Details</h1>
       <table class="table table-bordered">
          <thead>
             <tr>
                <th>Loan ID</th>
                <th>Name</th>
                <th>Loan Amount</th>
                <th>Return Amount</th>
                <th>Fine</th>
                <th>Paid Amount</th>
                <th>Total</th>
             </tr>
          </thead>
          <tbody>
             <tr>
                <td>#{{ loan_id }}</td>
                <td>{{ name }}</td>
                <td>{{ amount }}</td>
                <td>{{ return_amount }}</td>
                <td>{{ fine }}</td>
                <td>{{ paid }}</td>
                <td>{{ total }}</td>
             </tr>
          </tbody>
       </table>
       <!-- Add your payment form or integration here -->
       <form id="paymentForm" action="/process_payment/" method="post">
          {% csrf_token %}
          <input type="hidden" name="loan_id" value="{{ loan_id }}">
          <div class="form-group">
             <label for="pay_amt"><strong>Payment Amount</strong></label>
             <input type="number" class="form-control" min="100" name="pay_amt" id="pay_amt" placeholder="Enter Amount" style="width: 200px;" required>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Proceed to Payment</button>
          <br>
           <br>
       </form>
    </div>

   <!-- Toast Message -->
    <div id="toastMessage" class="toast align-items-center text-white bg-info" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 20px; right: 20px;">
        <div class="toast-body">
            This time you need to pay the full amount.
            Remaning Amount can't less than 100 Rs.
        </div>
    </div>

{% endblock %}
