{% extends 'master.html' %}

{% block body %}



<!-- inner-banner -->
<section class="inner-banner" id="home">
	<div class="inner-layer">
		<div class="container">
		</div>
	</div>
</section>
<!-- //inner-banner -->

<!-- breadcrumb -->
<div class="breadcrumb-w3pvt">
	<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}">Home</a>
			</li>
			<li class="breadcrumb-item" aria-current="page">Contact</li>
		</ol>
	</nav>
	</div>
</div>

<p>Hi {{ user.username }},</p>
<p>You requested a password reset. Click the link below to reset your password:</p>
<p><a href="{{ reset_url }}">Reset Password</a></p>
<p>If you didn't request this, you can ignore this email.</p>


{% endblock %}