{% extends 'master.html' %}
{% load static %}
{% block body %}
<section class="inner-banner" id="home">
   <div class="inner-layer">
      <div class="container">
      </div>
   </div>
</section>
<!-- end inner-banner -->

<!-- breadcrumb -->
<div class="breadcrumb-w3pvt">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">Log In</li>
             <li class="breadcrumb-item" aria-current="page">Hi, {{ name }}</li>
             <li class="breadcrumb-item" aria-current="page">Settings</li>
         </ol>
      </nav>
   </div>
</div>
<!-- end breadcrumb -->

<div class="container mt-5">
    <h1 class="mb-4">User Settings</h1>
    <div class="list-group">
       <a href="#" class="list-group-item list-group-item-action" id="changePasswordLink">Change Password</a>
        <a href="#" class="list-group-item list-group-item-action" id="deleteAccountLink">Delete Account</a>
        <a class="list-group-item list-group-item-action" href="/account_list/">Customer Account List</a>
    </div>
</div>
<br>
<!-- Modal -->
<div id="deleteAccountModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your account?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">No</button>
        <button type="button" class="btn btn-primary" id="confirmDelete">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Change Password Modal -->
<div id="changePasswordModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="changePasswordForm">
          <div id="oldPasswordSection">
            <div class="form-group">
              <label for="oldPassword">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" required>
            </div>
            <button type="button" class="btn btn-primary" id="verifyOldPassword">Verify</button>
          </div>
          <div id="newPasswordSection" style="display: none;">
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <div class="input-group">
                <input type="password" class="form-control" id="newPassword" required>
                <div class="input-group-append">
                  <span class="input-group-text" onclick="togglePasswordVisibility('newPassword', this)">
                    <i class="fa fa-eye"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <div class="input-group">
                <input type="password" class="form-control" id="confirmPassword" required>
                <div class="input-group-append">
                  <span class="input-group-text" onclick="togglePasswordVisibility('confirmPassword', this)">
                    <i class="fa fa-eye"></i>
                  </span>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary" id="changePassword">Change Password</button>
            <button type="button" class="btn btn-secondary" id="generatePassword">Generate Password</button>
            <div id="generatedPasswordContainer" style="margin-top: 10px;"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Success Modal -->
<div id="successModal" class="modal fade" tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<!-- Error Modal -->
<div id="errorModal" class="modal fade" tabindex="-1">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<!-- Custom Progress Bar -->
<div id="progressOverlay">
    <div id="progressContainer" class="bg-dark">
        <div class="progress bg-secondary" role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" style="height: 20px; width: 10%">Processing...</div>
        </div>
    </div>
</div>

<script>
   $(document).ready(function() {
       {% if messages %}
           {% for message in messages %}
               {% if message.tags == 'success' %}
                   $('#successModal').modal('show');
               {% elif message.tags == 'error' %}
                   $('#errorModal').modal('show');
               {% endif %}
           {% endfor %}
       {% endif %}

       $('#changePasswordLink').on('click', function(event) {
           event.preventDefault();
           $('#changePasswordModal').modal('show');
       });

       $('#verifyOldPassword').on('click', function() {
           const oldPassword = $('#oldPassword').val();

           fetch("{% url 'verify_old_password' %}", {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json',
                   'X-CSRFToken': '{{ csrf_token }}',
               },
               body: JSON.stringify({ old_password: oldPassword })
           })
           .then(response => response.json())
           .then(data => {
               if (data.status === 'success') {
                   $('#oldPasswordSection').hide();
                   $('#newPasswordSection').show();
               } else {
                   alert(data.message);
               }
           });
       });

       $('#changePassword').on('click', function() {
           const newPassword = $('#newPassword').val();
           const confirmPassword = $('#confirmPassword').val();

           if (newPassword !== confirmPassword) {
               alert('Passwords do not match!');
               return;
           }

           fetch("{% url 'change_password' %}", {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json',
                   'X-CSRFToken': '{{ csrf_token }}',
               },
               body: JSON.stringify({ new_password: newPassword })
           })
           .then(response => response.json())
           .then(data => {
               if (data.status === 'success') {
                   alert('Password changed successfully!');
                   closeChangePasswordModal();
               } else {
                   alert(data.message);
               }
           });
       });

       $('#generatePassword').on('click', function() {
           const username = '{{ request.user.username }}';
           const dateOfBirth = '{{ request.user.profile.date_of_birth|date:"Ymd" }}'; // Assuming the user profile has a date_of_birth field
           const generatedPassword = username + dateOfBirth;

           $('#newPassword').val(generatedPassword);
           $('#confirmPassword').val(generatedPassword);
       });

       $('#confirmDelete').on('click', function() {
           closeModal();
           $('#progressOverlay').show();

           fetch("{% url 'delete_account' %}", {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json',
                   'X-CSRFToken': '{{ csrf_token }}',
               },
               body: JSON.stringify({ username: '{{ request.user.username }}' })
           })
           .then(response => response.json())
           .then(data => {
               if (data.status === 'error') {
                   alert(data.message);
                   $('#progressOverlay').hide();
               } else {
                   let progress = 0;
                   const progressBar = $('#progressBar');
                   const interval = setInterval(function() {
                       if (progress >= 100) {
                           clearInterval(interval);
                           fetch("{% url 'logout' %}", {
                               method: 'POST',
                               headers: {
                                   'Content-Type': 'application/json',
                                   'X-CSRFToken': '{{ csrf_token }}',
                               },
                           }).then(() => {
                               window.location.href = "{% url 'index' %}";
                           });
                       } else {
                           progress += 10;
                           progressBar.width(progress + '%');
                           progressBar.text('Processing ' + progress + '%');
                       }
                   }, 500);
               }
           });
       });

       function closeModal() {
           $('#deleteAccountModal').modal('hide');
       }

       function closeChangePasswordModal() {
           $('#changePasswordModal').modal('hide');
           $('#oldPasswordSection').show();
           $('#newPasswordSection').hide();
       }
   });

   function togglePasswordVisibility(inputId, eyeIcon) {
       const input = document.getElementById(inputId);
       const icon = eyeIcon.querySelector('i');
       if (input.type === 'password') {
           input.type = 'text';
           icon.classList.remove('fa-eye');
           icon.classList.add('fa-eye-slash');
       } else {
           input.type = 'password';
           icon.classList.remove('fa-eye-slash');
           icon.classList.add('fa-eye');
       }
   }
</script>
<script src="{% static 'js/delete_account.js' %}"></script>
{% endblock %}